.app {
}

.app__header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.app__title {
  font-size: 1.5em;
}

.app__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
